h1{
color: blue;
text-align: center;
text-decoration: underline;
}
body{
  background-color: #339AFF;
}
p{
  font-size: 25px;
  font-style: cambria;
}

h2{
  text-align: left;
  color: maroon;
  text-decoration: underline;
}
h3{
  font-size: 25px;
  color: maroon;
}
.container{
  width: 900px
}
ol{
  font-size: 22px;
}
